body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
    line-height: 1.6;

}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #2ecc71;
}
button{
    cursor: pointer;
}








